---
name: test
on: [pull_request]
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.16.x, 1.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Fetch all tags
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      - name: Last tag
        run: git describe --tags $(git rev-list --tags --max-count=1) --always
      - name: Test
        run: go test -v -race -p=1 ./...
